<div class="searchbox">
  <label for="search-by"></label>
  <input data-search-input id="search-by" type="search" placeholder='{{ T "Search-placeholder" }}'>
  <span data-search-clear=""></span>
</div>

{{ $assetBusting := not .Site.Params.disableAssetsBusting }}
<script src='{{ "js/lunr.min.js" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}'></script>
<script src='{{ "js/auto-complete.js" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}'></script>

<script>
  // Luôn đúng cho cả mono & multi-language
  var baseurl = '{{ "" | relLangURL }}';
</script>

<script src='{{ "js/search.js" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}'></script>
